{{ define "register" }}

<div
  class="flex justify-center items-center min-h-[calc(100svh-7rem)]"
  x-data="signupForm()"
>
  <div class="card w-96 shadow-md">
    <div class="card-body">
      <div class="flex flex-col items-center mb-6">
        <h2 class="card-title text-2xl font-bold text-primary mb-1">
          Create Account
        </h2>
        <p class="text-base-content text-sm opacity-80">
          Sign up to get started with your new account
        </p>
      </div>
      <form
        hx-post="/signup"
        hx-push-url="false"
        hx-target="#content"
        hx-swap="innerHTML"
      >
        <div class="form-control">
          <label class="label pb-2" for="first_name">
            <span class="label-text text-base-content font-semibold"
              >First Name</span
            >
          </label>
          <input
            id="first_name"
            class="input validator w-full"
            type="text"
            name="first_name"
            required
            placeholder="First Name"
            autocomplete="given-name"
          />
          <div class="validator-hint pb-2">Enter your first name</div>
        </div>

        <div class="form-control">
          <label class="label pb-2" for="email">
            <span class="label-text text-base-content font-semibold"
              >Email</span
            >
          </label>
          <input
            id="email"
            class="input validator w-full"
            type="email"
            name="email"
            required
            placeholder="mail@site.com"
            autocomplete="email"
          />
          <div class="validator-hint pb-2">Enter valid email address</div>
        </div>
        <div class="form-control">
          <label class="label pb-2" for="password">
            <span class="label-text text-base-content font-semibold"
              >Password</span
            >
          </label>
          <div class="relative">
            <input
              id="password"
              :type="showPassword ? 'text' : 'password'"
              type="password"
              name="password"
              class="input validator w-full"
              required
              placeholder="Password"
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
              x-model="password"
              autocomplete="new-password"
            />
            <p class="validator-hint pb-2">Must be more than 10 characters</p>
            <button
              type="button"
              class="absolute top-2 right-2 bottom-10 z-50 text-gray-500 hover:text-gray-700 cursor-pointer"
              @click="showPassword = !showPassword"
            >
              <span
                class="iconify text-xl"
                :data-icon="showPassword ? 'fluent:eye-off-16-regular' : 'fluent:eye-12-regular'"
              ></span>
            </button>
          </div>
        </div>
        <div class="form-control">
          <label class="label pb-2" for="confirm_password">
            <span class="label-text text-base-content font-semibold"
              >Confirm Password</span
            >
          </label>
          <div class="relative">
            <input
              id="confirm_password"
              :type="showConfirmPassword ? 'text' : 'password'"
              name="confirm_password"
              class="input validator w-full"
              required
              placeholder="Confirm Password"
              x-model="confirmPassword"
              x-ref="confirmPassword"
              @blur="validateConfirmPassword()"
              @input="if($event.target === document.activeElement) validateConfirmPassword()"
              autocomplete="new-password"
            />
            <p class="validator-hint pb-2">Passwords do not match</p>
            <button
              type="button"
              class="absolute right-2 top-2 bottom-10 z-50 text-gray-500 hover:text-gray-700 cursor-pointer"
              @click="showConfirmPassword = !showConfirmPassword"
            >
              <span
                class="iconify text-xl"
                :data-icon="showConfirmPassword ? 'fluent:eye-off-16-regular' : 'fluent:eye-12-regular'"
              ></span>
            </button>
          </div>
        </div>
        <div class="form-control">
          <button
            class="w-full bg-primary text-white rounded-md px-4 py-2 font-medium shadow transition-colors hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-primary/50 cursor-pointer"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function signupForm() {
    return {
      password: "",
      confirmPassword: "",
      showPassword: false,
      showConfirmPassword: false,
      validateConfirmPassword() {
        if (this.confirmPassword !== this.password) {
          this.$refs.confirmPassword.setCustomValidity(
            "Passwords do not match"
          );
        } else {
          this.$refs.confirmPassword.setCustomValidity("");
        }
      },
    };
  }
</script>

{{ end }}
